{{>header}}
<div class="col-md-6 text-center col-lg">
  <img class="profile-img" src="./images/user.png" />
  <div class="profile-info">
    <p>Username: <small>{{username}}</small></p>
    {{#if isOrganizer}}
    <p class="infoType">Organizer of {{eventsCount}} events.</p>
      {{#each events}}
      <p>{{name}}</p>
      {{/each}}
    {{else}}
    <p class="infoType">Organizer of 0 events.</p>
    <p>No events</p>
    {{/if}}
  </div>
</div>
{{>footer}}